[Desktop Entry]
Encoding=UTF-8
Icon=kscreensaver
Type=Application
Exec=kanotix-su kcmshell knxcc_display

X-KDE-RootOnly=true
X-KDE-Library=knxcc_display
X-KDE-FactoryName=knxcc_display
X-KDE-ParentApp=kcontrol

Name=Display
Name[de]=Anzeige
Comment=Display Settings
Comment[de]=Anzeige-Einstellungen

Categories=Qt;KDE;X-KDE-settings-kanotix;
