[Desktop Entry]
Encoding=UTF-8
Icon=ksysv
Type=Application
Exec=kanotix-su kcmshell knxcc_boot

X-KDE-RootOnly=true
X-KDE-Library=knxcc_boot
X-KDE-FactoryName=knxcc_boot
X-KDE-ParentApp=kcontrol

Name=Boot
Name[de]=Systemstart
Comment=Options for Bootup
Comment[de]=Systemstart-Einstellungen

Categories=Qt;KDE;X-KDE-settings-kanotix;
