[Desktop Entry]
Encoding=UTF-8
Icon=knetworkconf
Type=Application
Exec=kanotix-su kcmshell knxcc_network

X-KDE-RootOnly=true
X-KDE-Library=knxcc_network
X-KDE-FactoryName=knxcc_network
X-KDE-ParentApp=kcontrol

Name=Network
Name[de]=Netzwerk
Comment=Configure your Network
Comment[de]=Netzwerk-Einstellungen

Categories=Qt;KDE;X-KDE-settings-kanotix;
